:root {
	--cyan: #62b5c0;
	--cyan-dark: #49aab6;
	--cyan-light: hsl(187, 43%, 65%);

	--white: #fff;
	--white-dark: #f5f5f5;

	--shadow: rgba(0, 0, 0, 0.25);

	--Color2: #f5f5f5;
	--Color3: #f5e8ee;
	--Color4: #f5e8ee;
	--Color5: #ffffff;

	--Color8: #f1f1f1;

	--bigGap: 5rem; /* 75px / 16px */
	--largerGap: 2.5rem; /* 50px / 16px */
	--midGap: 1.25rem; /* 25px / 16px */
	--smallGap: 0.3125rem; /* 5px / 16px */

	--fs-xl: clamp(3rem, 8vw + 1rem, 8rem);
	--fs-x: clamp(1rem, 2vw + 0.5rem, 2rem);
	--fs-600: 2rem;
	--fs-500: 1.5rem;
	--fs-400: 1rem;

	--fs-p: clamp(1rem, 2vw + 0.5rem, 1.5rem);
	--fs-h: clamp(1.5rem, 2.66vw + 0.75rem, 3rem);
	--max-width: 80rem;

	--min-height: 35rem;
	--min-height-sub: calc(100vh - 26rem);
}

@media (min-width: 40rem) {
	:root {
		--fs-600: 3rem;
		--fs-500: 1.625rem;
		--fs-400: 1.125rem;
	}
}

body {
	overflow-x: hidden;
	margin: 0;
	background-color: var(--cyan);
	font-family: 'Inter Variable';
}
.button {
	text-decoration: none;
	padding: 0.2em 0.9em;
	border-radius: 0.5em;
	width: fit-content;
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0);
}
.button:hover {
	translate: 0 -0.05em;
	cursor: pointer;
}

/* =============== DesktopNavigaiton ===================================== */

/* =============== BurgerNavigaiton ===================================== */
.burgerNavigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--cyan-dark);
	min-height: calc(100vh - 5rem);
}

.burgerRow {
	display: flex;
	text-decoration: none;
}
.burgerHyperlink {
	margin: 2rem;

	color: var(--Color2);
	font-size: 1.5rem; /* 24px / 16px */
	font-weight: 400;
	text-decoration: none;
}
/* :Hover */
.burgerRow:hover {
	background-color: white;
}
.burgerRow:active {
	background-color: white;
}
.burgerRow:hover .burgerHyperlink {
	color: var(--cyan-dark) !important;
	text-decoration: none;
	background-color: white;
}
.burgerRow:active .burgerHyperlink {
	color: var(--cyan-dark) !important;
	text-decoration: none;
	background-color: white;
}
/* onSite... */
.onSiteBurgerRow {
	display: flex;
	text-decoration: none;
}
.onSiteBurgerHyperlink {
	margin: 2rem;

	color: var(--Color2);
	font-size: 1.5rem; /* 24px / 16px */
	font-weight: 400;
	text-decoration: none;
	opacity: 50%;
}
/* ============== HERO SECTION =================== */

/* ============== TEXT SECTION =================== */

/* ============== FOOTER SECTION =================== */

/* ============= SVGS ============== */
.burgerMenuSvg {
	stroke: var(--Color2);
	width: 40px;
	height: 40px;
	margin-left: 0;
}
.burgerMenuSvg:hover {
	transform: translateY(-0.125rem); /* 30px / 16px */
	stroke: var(--Color2);
	cursor: pointer;
}

.heroSvgDesktop {
	display: none;

	position: absolute;
	top: 50%; /* 150px / 16px */
	left: 0;
	width: 80%;
	transform: translateY(-45%);
	fill: var(--Color3);
	stroke: var(--Color5);
	stroke-width: 0.45%;
}

.heroSvgMobile {
	z-index: 1;
	position: absolute;
	right: 3%; /* 2px / 16px */
	top: 5%; /* -3px / 16px */
	height: 85%;
	fill: none;
	stroke: var(--Color5);
	stroke-width: 0.2%;
}

.zigZagSvg {
	display: none;
	stroke: var(--Color3);
}

/* =================== BUTTONS ================= */

a {
	user-select: none;
}

/* ================= MEDIA QUERIES ============== */

.active {
	border-bottom: 0.125em solid currentColor;
	opacity: 20%;
}
.activeBurger * {
	opacity: 20%;
}
.hide {
	display: none !important;
}
